.background{
    background-image: url(./nItQK.png );
    background-size: 100% 100%;

    
}
.bo-1{
    margin-top: 6vw;
}
.abc{
    background-color: rgb(154, 206, 207);
}
.about{
    height: 50vw;
}
.image{
    background-image: url(./header_bg.png);
    background-repeat: no-repeat;
    
}
.nav-item{
    transition: all .5s;
}
.nav-item:hover{
    border-bottom: 2px solid rgb(56, 156, 158);
    margin: 0 auto;
    padding: 0;
}
.nav-item:after{
    margin: 0 auto;
    transition: all .5s;
    position: absolute;
    background-color: black;
}