.background{
    background-image: url(./nItQK.png );
    background-size: 100% 100%;

    
}
.bo-1{
    margin-top: 6vw;
}
.abc{
    background-color: rgb(154, 206, 207);
}

.image{
    background-image: url(./header_bg.png);
    background-repeat: no-repeat;
    
}
/** hover link**/
.nav-item{
    transition: all .2s;
}
.nav-item:hover{
    border-bottom: 2px solid rgb(56, 156, 158);
    margin: 0 auto;
    padding: 0;
}
.nav-item:after{
    margin: 0 auto;
    transition: all .2s;
    position: absolute;
    
}

.about-me{
    background-color:  rgb(220, 252, 252);
}
/** **/
.cv{
    height: 50vw;
}
@media only screen and (max-width: 600px) {
    .cv{
        height: 100vw;
    }   
}
@media only screen and (max-width: 768px) {
    .cv{
        height: 100vw;
    }   
}
.progress-bar.a {
    animation: animate 10s linear forwards;
}
@keyframes animate{
    0%{
        width: 0;
    }
    90%{
        width: 90%;
    }
}
.progress-bar.b {
    animation: animate 10s linear forwards;
}
@keyframes animate{
    0%{
        width: 0;
    }
    90%{
        width: 80%;
    }
}
.progress-bar.c {
    animation: animate 10s linear forwards;
}
@keyframes animate{
    0%{
        width: 0;
    }
    90%{
        width: 85%;
    }
}
.progress-bar.d {
    animation: animate 10s linear forwards;
}
@keyframes animate{
    0%{
        width: 0;
    }
    90%{
        width: 40%;
    }
}
.progress-bar.e {
    animation: animate 10s linear forwards;
}
@keyframes animate{
    0%{
        width: 0;
    }
    90%{
        width: 60%;
    }
}

.adu::-webkit-scrollbar{
    display: none;
}
.my{
    transition: all .2s; 
}
.my:hover{
    border-bottom: 2px solid rgb(56, 156, 158);
    margin: 0 auto;
    padding: 0;
    color: rgb(56, 156, 158) !important;
}
.my::after{
    margin: 0 auto;
    transition: all .2s;
    position: absolute;
    background-color: black;
   
}
.foo{
    
    background-color:  rgb(220, 252, 252);
}
.card-child:hover .card-div{
    -webkit-transform: scale(1.1);
  transform: scale(1.1);
   transition: 0.5s;
}
.card-child:hover .card-title{
    color:  rgb(240, 170, 170);
}
/* .card-div{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
      display: block;
      overflow: hidden;
} */
.card-div{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
      display: block;
      overflow: hidden;
   
}
.ico:hover{
    transform: rotateY(180deg);
    transition: width 2s, height 4s, transform 2s;
}
.ico:hover .abc{
    background-color:rgb(240, 170, 170) ;
 
}
.ico-foo:hover{
    transform: rotateY(180deg);
    transition: width 2s, height 4s, transform 2s;
    color: rgb(240, 170, 170) !important; 
}
/*progress bar*/
.bg-pro{
    background-color:  #76ABAE !important;
}
/*prject swiper*/
.swiper {
    width: 100%;
    height: 100% ;
   
    position: relative;
  }

  .swiper-slide {
    /* text-align: center; */
    font-size: 15px;
  
     display: flex;
    justify-content: center;
    align-items: center;
    width: 100% ;
    /* height: 100% !important; */
    object-fit: cover;
    overflow: hidden;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
      display: block;
      height: auto !important;
  }

  .swiper-slide img {
    display: block;
    
  }

  .swiper-slide {
    width: 33.333333%;
   
  }
  .swiper-wrapper .swiper-slide{
   
    overflow: hidden;
  }
  .swiper-slide:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
     transition: 0.5s ease-in-out;
  }
  .swiper-slide:hover .card-title{
    color: rgb(240, 170, 170);
  }
  .pro-btn:hover{
    background-color: rgb(240, 170, 170) !important;
  }