.background{
    background-image: url(./nItQK.png );
    background-size: 100% 100%;

    
}
.bo-1{
    margin-top: 6vw;
}
.abc{
    background-color: rgb(154, 206, 207);
}

.image{
    background-image: url(./header_bg.png);
    background-repeat: no-repeat;
    
}
/** hover link**/
.nav-item{
    transition: all .2s;
}
.nav-item:hover{
    border-bottom: 2px solid rgb(56, 156, 158);
    margin: 0 auto;
    padding: 0;
}
.nav-item:after{
    margin: 0 auto;
    transition: all .2s;
    position: absolute;
    
}
/** **/
.cv{
    height: 50vw;
}

   

.adu::-webkit-scrollbar{
    display: none;
}
.my{
    transition: all .2s; 
}
.my:hover{
    border-bottom: 2px solid rgb(56, 156, 158);
    margin: 0 auto;
    padding: 0;
}
.my::after{
    margin: 0 auto;
    transition: all .2s;
    position: absolute;
    background-color: black;
}
